body{
 background-size:100% ;
 background-image: url(https://iadsb.tmgrup.com.tr/0b4b8f/1200/627/0/120/1000/642?u=https://idsb.tmgrup.com.tr/2020/01/06/1578319248660.jpg);
    
}
h1{
    text-align: center;
    color: purple;
    
}
h2{
  text-align: center;
  color: darkred;  
}